*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body, html {
    background-color: #6665ee;
    display: grid;
    height: 100%;
    place-items: center;
}

h4{
    font-size: 1.5rem;
    margin-bottom: .5rem ;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.container {
    width: 31.2rem;
    background-color: white;
    padding: 1.5rem 1.80rem;
    border-radius: .8rem;
    box-shadow: .4rem .4rem 1.25rem ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form input {
    margin: .6rem  0rem;
    outline: none;
    border: 1px solid #6665ee;
}

form input.box{
    width: 26.2rem;
    height: 1.75rem;
    font-size: 1.2rem;
    padding: 0 .5rem;
    border-radius: .2rem;
}

form input.button{
    font-size: 1rem ;
    padding: 0.3rem 0.6rem;
    background-color: #6665ee;
    color: #fff;
    cursor: pointer;
    border-radius: .2rem ;
}

h5{
    background-color: #FFD4CD;
    font-size: 1.2rem;
    width: 100%;
    padding: .5rem 0;
}

 /* for" please enter your message part " */


.feedback {
    display: none;
}
.show{
    display: block;
}

.message-content {
    color: #eb2412;
    font-weight: 400;
}